body {
    background:#E5E5E5;
}

section {
    background:#E5E5E5;
}


p{
    color:black;
}


footer{
    color:blue;
}

.turkus-hot {
    color:turquoise;
}


nav a{color:#FCA311
}


a {
    color:red
}


.hotpink {
    color:#EDBF85;

}

.green-link {
    color:green
}


#main-header{ 
    color:brown
}