body {
  background: whitesmoke;
}

p {
  color: black;
}

footer {
  color: blue;
}

.turkus-hot {
  color: turquoise;
}

nav a {
  color: navy;
}

a {
  color: red;
}

.hotpink {
  color: #edbf85;
}

.green-link {
  color: orange;
}

.green-link-2 {
  color: purple;
}
#main-header {
  color: brown;
}

.navigation {
  width: 300px;
  height: 50px;
  display: inline;
}

.navigation__index--stronagłówna {
  color: red;
  background: lawngreen;
}

.navigation__index--naukahtml {
  color: pink;
  background: turquoise;
}

.navigation__index--tajlandia {
  color: green;
  background: yellow;
}
