body {
    background:white
}


p{
    color:black;
}


footer{
    color:blue;
}

.turkus-hot {
    color:turquoise;
    padding-left: 700px;
}


nav a{color:navy
}


a {
    color:red
}


.hotpink {
    color:#EDBF85;

}

.green-link {
    
    color:orange;
    height: 50px;
    weight: 2000px;
    font-size: 200%;
    padding-left: 600px;
}

.green-link-2 {

    color:yellow;
    padding-left: 500px;
    font-size: 200%;
}


#main-header{ 

    color:brown;
    padding-left: 400px;
    font-family:Helvetica;
    font-size: 400%;
}

img {

    padding-top:0px;
    padding-left: 100px;

    

}